@import 'breakpoints';
@import 'color';

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include breakpoint-small-down {
    height: 4rem;
  }

  .menu {
    margin-right: 1rem;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    color: $colorPrimary;

    &__item {
      padding: 0.25rem 0;
      margin: 0 1rem;
      font-size: 1.25rem;
      font-weight: 400;
      border-bottom: 2px solid transparent;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid $colorPrimary;
      }
    }
  }
}
