@import 'styles/reset';
@import 'styles/breakpoints';
@import 'styles/global';
@import 'styles/socialIcons';
@import 'styles/scrollToNext';
@import 'styles/landingPage';
@import 'styles/navBar';
@import 'styles/aboutPage';
@import 'styles/scrollTop';
@import 'styles/aboutPage';
@import 'styles/color';